div.ol-bg div.inner { 
    background-image:url("images/ol-bg.png");
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
}

div.center { 
    text-align: center;
}

div.notitle section {
    margin: 0px;
}

div.notitle header {
    display: none;
}

.bottom {
    float: left;
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
}

div.banner {
    display: none;
}

div.current div.banner {
    position:absolute; 
    z-index:3;
    bottom:0px; 
    opacity:0.8;
    display: block;
    background-color: black;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
}

a.link {
    font-size: 0.8em;
}

div.banner h3 {
    padding: 0px;
    margin: 0px;
    font-size: 1.3em;
    font-weight: bold;
}

div.current.bottom-title header {
    display: none;
}

div.current.bottom-title header {
    position:absolute; 
    z-index:3;
    bottom:0px; 
    opacity:0.8;
    display: block;
    background-color: black;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center; 
    left: inherit;
    top: inherit;   
} 

div.bottom-title h1 {
}

/* --- */

.middle {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 700px;
  width: 900px;
}

div.title-slide p {
  font-size: 28px;
}

.title-slide h1, .title-slide h2 {
  color: black;
}
.title-slide h1 {
  font-size: 48px;
}
.title-slide h2 {
  font-size: 32px;
}

span.small {
    font-size: 20px;
    font-style: italic;
}

a.download-slides {
    font-size: 20px;
}

.title-slide a {
    text-decoration: none;
    border: none;
}

.title-slide a:hover {
    text-decoration: underline;
}

li p {
    padding: 0px;
    margin: 0px;
}

slide.hidden {
    display: none;
}

code {
    font-size: inherit;
    font-family:  Monaco, Courier, monospace;
}
